/*
1.Posicionamiento
2.Modelo de caja(Box model)
3.Tipografia
4.Visuales
5.Otros
*/

:root{
    /*colores*/
    --bitcoin-orange:#F7931A;
    --solft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --solft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
    --grey-text:#757575;
    --monedads-yelow:#FF9536;

    /*Tipo de fuenter*/
    --inter: 'Inter', sans-serif;

    /*Tamaño de fuente*/
    --dm-sans-size-big: 2.6rem;
    --dm-sans-size-medium:1.4rem;
    --dm-sans-size-small:1.4rem;

    /*Interlineado*/
    --dm-sans-line-big:26px;
    --dm-sans-line-medium:18px;
    --dm-sans-line-small:18px;

    /*Peso de fuente*/
    --dm-sans-weight-big:700;
    --dm-sans-weight-medium:500;
    --dm-sans-weight-small:500;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    width: 320px;
}

body{
    width: 100vw;
}

header{
    width: 100vw;
    height: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

#logo{
    width: 151px;
    height: 24px;
    margin-top: 42px
}

header .header-div-title{
    height: 218px;
    width: 288px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around
    ;
    align-items: center;
}

header .header-div-title h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--dm-sans-size-big);
    font-weight: var(--dm-sans-weight-big);
    line-height: var(--dm-sans-line-big);
    color: var(--just-white);
}

header .header-div-title p{
    text-align: center;
    font-size: var(--dm-sans-size-medium);
    font-weight: var(--dm-sans-weight-medium);
    line-height: var(--dm-sans-line-medium);
    color: var(--solft-orange);
}

header .header-div-title button{
    position: relative;
    top: 25px;
    width: 229px;
    height: 48px;
    background-color: var(--just-white);
    border-radius: 4px;
    border: 1px none;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

}

header .header-div-title #meet-planes a{
    text-decoration: none;
    color: var(--black);
    font-size: var(--dm-sans-size-medium);
    font-weight: var(--dm-sans-weight-big);
}

header .header-div-title #meet-planes span{
    padding-left: 10px;
}

main ,.frame-2{
    width: 100vw;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

main #bitcoin{
    width: 100vw;
    height: 294px;
    background-image: url("/assets/img/Bitcoin.svg");
    background-size: 195px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 59px;
}

main .frame-1{
    width: 288px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
main .frame-1-title{
    font-size: var(--dm-sans-size-big);
    font-weight:var(--dm-sans-weight-big);
    line-height: var(--dm-sans-line-big);
}

main .frame-1-paragraph{
    font-size: var(--dm-sans-size-small);
    font-weight: var(--dm-sans-weight-small);
    line-height: var(--dm-sans-line-small);
    color: var(--grey-text);
}

main .frame-2{
    width: 100vw;
    height: 1200px;
}

main .frame-3-moneda{
    align-items: center;
    position: relative;
    left: 19.5px;
    top: 48px;
    display: flex;
    flex-direction: column;
    height: 194px;
    width: 235px;
}

main .frame-3-moneda > p{
    align-self: flex-start;
    margin-left: 12px;
    font-size: var(--dm-sans-size-medium);
    font-weight: var(--dm-sans-weight-medium);
    color: var(--monedads-yelow);
}

main .frame-3-moneda ul{
    width: 197px;
    height: 159px;
    list-style: none;
}
