/*
1.Posicionamiento
2.Modelo de caja(Box model)
3.Tipografia
4.Visuales
5.Otros
*/

:root{
    /*colores*/
    --bitcoin-orange:#F7931A;
    --solft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --solft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
    --grey-text:#757575;
    --monedads-yelow:#FF9536;

    /*Tipo de fuenter*/
    --inter: 'Inter', sans-serif;

    /*Tamaño de fuente*/
    --dm-sans-size-big: 2.6rem;
    --dm-sans-size-medium:1.4rem;
    --dm-sans-size-small:1.4rem;

    /*Interlineado*/
    --dm-sans-line-big:26px;
    --dm-sans-line-medium:18px;
    --dm-sans-line-small:18px;

    /*Peso de fuente*/
    --dm-sans-weight-big:700;
    --dm-sans-weight-medium:500;
    --dm-sans-weight-small:500;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    max-width: 900px;
    height: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
#logo{
    width: 151px;
    height: 24px;
    margin-top: 42px
}
header .header-div-title{
    height: 218px;
    width: 90%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around
    ;
    align-items: center;
}
header .header-div-title h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--dm-sans-size-big);
    font-weight: var(--dm-sans-weight-big);
    line-height: var(--dm-sans-line-big);
    color: var(--just-white);
}
header .header-div-title p{
    text-align: center;
    font-size: var(--dm-sans-size-medium);
    font-weight: var(--dm-sans-weight-medium);
    line-height: var(--dm-sans-line-medium);
    color: var(--solft-orange);
}
header .header-div-title button{
    position: relative;
    top: 25px;
    width: 229px;
    height: 48px;
    background-color: var(--just-white);
    border-radius: 4px;
    border: 1px none;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

}
header .header-div-title #meet-planes a{
    text-decoration: none;
    color: var(--black);
    font-size: var(--dm-sans-size-medium);
    font-weight: var(--dm-sans-weight-big);
}
header .header-div-title #meet-planes span{
    padding-left: 10px;
}
main{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    background-color: var(--off-white);
}
main .frame-2{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}
main #bitcoin{
    width: 100%;
    height: 294px;
    background-image: url("/assets/img/Bitcoin.svg");
    background-size: 195px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 59px;
}
main .frame-1{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
main .frame-1-title{
    font-size: var(--dm-sans-size-big);
    font-weight:var(--dm-sans-weight-big);
    line-height: var(--dm-sans-line-big);
}
main .frame-1-paragraph{
    font-size: var(--dm-sans-size-small);
    font-weight: var(--dm-sans-weight-small);
    line-height: var(--dm-sans-line-small);
    color: var(--grey-text);
}
main .frame-3-mon{
    display: flex;
    width: 235px;
    height: 360px;
    overflow: auto;
    gap: 20px;
    scroll-snap-type:  x proximity;
}
main .frame-3-mon::-webkit-scrollbar{
    display: none;
}

main .frame-3-moneda{
    position: relative;
    left: 19.5px;
    top: 48px;
    height: 283px;
    width: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: none 1xp black;
    scroll-snap-align: center;
}
main [class="frame-3-moneda"] > p{
    align-self: flex-start;
    margin-left: 15px;
    margin-bottom: 12px;
    font-size: var(--dm-sans-size-medium);
    font-weight: var(--dm-sans-weight-medium);
    color: var(--monedads-yelow);
}
#monedas-2{
    color: var(--secondary-blue);
    margin-left: 35px;
}
[class^="frame-3-moneda--cost"]{
    display: grid;
    grid-template-columns: 6fr 20px;
}
main .frame-3-moneda--cost-2{
    grid-template-columns: 20px 6fr;
}
main .frame-3-moneda ul{
    width: 197px;
    height: 159px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    border-radius: 8px;
    border: none 1xp black;
    overflow: hidden;
    background-color:var(--just-white);

}

.frame-3-moneda ul li{
    height: 39px;
    padding:auto 0;
    display: grid;
    grid-template: 1fr / 6fr 4fr 2fr;
    font-family: var(--inter) ;
}
.frame-3-moneda ul#list-2 li{
    grid-template: 1fr / 1fr 1fr;
}
.frame-3-moneda ul li .content-1{
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19px;
    color:#B5B0AC;
}
.frame-3-moneda ul li .content-2{
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 17px;
    color:#757575;
}
.frame-3-moneda ul li span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-3-moneda ul li span img{
    width: 11px;
}
[class^="frame-3-moneda--arrow"]{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main .frame-3-moneda--arrow-left{
    transform:scaleX(-1);
}
[class^="frame-3-moneda--actualizacion"]{
    position: relative;
    right: 15px;
    width: 173px;
    height: 31px;
    min-height: 31px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--solft-orange);
    border-radius: 8px;
    font-family: var(--inter);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 14.52px;
}
.frame-3-moneda--actualizacion-2{
    margin-left: 35px;
    background-color: var(--solft-blue);
}
.frame-4{
    width: 100%;
    height: max-content;
    padding-bottom: 47px; ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--warm-black);
}
.frame-4 > div{
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.frame-4-separation{
    width: 38px;
    margin-bottom: 52px;
    position: relative;
    bottom: 12px;
}
.frame-4-title{
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.frame-4-title h2{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 26px;
    color: var(--just-white);
}
.frame-4-title p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    color: #808080;
}
.frame-4-principal{
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap:wrap;
}
[class^=frame-4-principal-featurs]{
    min-width: 288px;
    max-width: 350px;
    height: 152px;
    padding: 48px 20px 22px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: 18px 16px;
    border-radius:4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.frame-4-principal-featurs-1{
    background-image: url("/assets/icons/clock.svg");
}
.frame-4-principal-featurs-2{
    background-image: url("/assets/icons/eye.svg");
}
.frame-4-principal-featurs-3{
    background-image: url("/assets/icons/dollar-sign.svg");
}
.frame-4-principal-featurs-4{
    background-image: url("/assets/icons/check-circle.svg");
}
[class^=frame-4-principal-featurs] h3{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: white;
}
[class^=frame-4-principal-featurs] p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080;
}
.frame-6-cost{
    width: 100%;
    height: max-content;
    background-color: #E5E5E5;
}
.frame-6-cost-title{
    height: 387px;
    display: flex;
    justify-content: center;
    background-image: url("/assets/img/bitcoinbaby2x.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 64px;
}
.frame-6-cost-title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.frame-6-cost--select{
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    
}
.frame-6-cost--select-title{
    margin: 64px auto 0 auto;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    text-align: center;
}
.frame-6-cost--select-title h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: var(--warm-black);
}
.frame-6-cost--select-title p{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--grey-text);
}
.frame-6-cost--select-article{
    position: relative;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 190px;
    height: 247px;
    border-radius: 8px;
    scroll-snap-align:center;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.frame-6-cost--select-article--title{
    position: absolute;
    margin: 0 calc(50% - 50px);
    display: flex;
    width: 101px;
    height: 31px;
    justify-content: center;
    align-items: center;
    top:-15px;
    color: white;
    font-family: var(--inter);
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
}
.price{
    display: grid;
    grid-template-areas: 1fr / 49px 1fr 46px;
    height: 175px;
    width: 190px;
}
.price-title{
    height: 49px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.price-title h6{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}
.price-number{
    padding-top: 17px;
    display: flex;
    justify-content: center;
}
.price-number span{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    font-family: var(--inter);
    font-weight: 500;
    line-height: 1.452rem;
    color: #363636;
}
.price-number span bold{
    position: relative;
    bottom: 9px;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.293rem;
}
.price-text{
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    font-family: var(--inter);
    text-align: center;
    color: var(--grey-text);
}
.price-buttom{
    width: 151px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--just-white);
}
.price-buttom a{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--warm-black);
    text-decoration: none;
}
.price-buttom img{
    width: 24px;
    height: 24px;
}
.scroll{
    display: flex;
    margin: 50px auto 0 auto;
    padding: 18px 0px;
    width: 199px;
    overflow-x:scroll;
    overscroll-behavior-x: none;
    height: 286px;
    gap: 18px;
    scroll-snap-type:x proximity;
}
.scroll::-webkit-scrollbar{
 display: none;
}
.targetas a [class$="flecha"]{
    background-image: url("/assets/icons/right-arrow.svg");
}
